body{
background:#0f172a;
color:white;
font-family:Arial;
text-align:center;
margin-top:50px;
}

.circle{
position:relative;
display:flex;
justify-content:center;
align-items:center;
margin:30px;
}

#timer{
position:absolute;
font-size:30px;
font-weight:bold;
}

#progress{
transform:rotate(-90deg);
transform-origin:center;
transition:stroke-dashoffset 1s linear;
}

button{
margin:10px;
padding:10px 20px;
font-size:16px;
border:none;
border-radius:8px;
background:#22c55e;
color:white;
cursor:pointer;
}

button:hover{
background:#16a34a;
}